@font-face {
    font-family: 'SignikaNegativeSC';
    src: url('../assets/fonts/SignikaNegativeSC-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

html {
    scroll-behavior: ;
}

* {
    box-sizing: border-box;
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #595366;
    transition: 0.3s
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffa33a;
  }

a {
    text-decoration: none;
}


body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #0f0c13;
    color: #fcfaf3;
    font-family: 'SignikaNegativeSC', sans-serif;
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

body.no-scroll {
    overflow: hidden;
}

/* Hero section */

h1 {
    font-family: "Staatliches", 'sans-serif';
    font-weight: 400;
    font-size: 120px;
    margin: -2rem 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

}

.greeting {
    font-size: 28px;
    margin: 0;
    text-transform: lowercase;
}

.char {
    transform: translateY(-136px);
    transition: transform .4s;
}

.first {
    font-size: 134px;
}

.last {
    font-size: 118px;
    color: #ffa33a;
}

.blerb {
    max-width: 400px;
    text-transform: lowercase;
}


#hero {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    height: 700px;
    width: 90%;
    max-width: 1800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.intro-container {
    width: 300px;
    height: 80%;
    display: flex;
    justify-content: center;
}

.intro {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2rem;
    padding: 0 2rem 2rem 2rem;
}

.name-holder {
    width: 400px;
}

.border {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.socials {
    height: 150px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.social {
    fill: #fcfaf3;
    opacity: 0;
    animation: staggerIn;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: translateY(-20px);
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.social:hover {
    fill: #ffa33a;
}

.social1 {
    animation-delay: .6s;
}

.social2 {
    animation-delay: .8s;
}

.social3 {
    animation-delay: 1s;
}

@keyframes staggerIn {

    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 100%;
        transform: translateY(0px);
    }
}

.nav-container {
    width: 300px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav {
    align-self: flex-end;
    height: 100px;
    font-family: "Staatliches", 'sans-serif';
    font-weight: 400;
    font-size: 64px;
    list-style: none;
    text-align: right;
}

ul.nav {
    margin: 0;
}

a.link {
    font-size: 42px;
    margin: 0 0 1em;
    color: #fcfaf3;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a.link:hover {
    color: #ffa33a;
}

.active-n{
    color: #ffa33a;
    -webkit-text-stroke: none;
    text-decoration: none;
    font-size: 42px;
}



.side-line {
    background-color: #fcfaf3;
    width: 3px;
    height: 0px;
}

.left-line {
    animation-name: grow;
    animation-duration: 1s;
    animation-delay: .3s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

@keyframes grow {
    from {
        height: 0;
        opacity: 50%;
    }

    to {
        height: 250px;
        opacity: 100%;
    }
}

.right-line {
    align-self: flex-end;
    animation-name: grow;
    animation-duration: 1s;
    animation-delay: .3s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

/* Mobile Hero */

.mobile {
    display: none;
    width: 100%;
    flex-direction: row-reverse;
    padding: 2rem;
    z-index: 3;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.hamburger-menu.active {
    
}

.hamburger-line {
    height: 4px;
    background-color: #595366;
    border-radius: 2px;
    align-self: flex-end;
    transition: opacity 0.5s ease, transform 0.3s ease;
}

.hamburger-menu.active .hline1 {
    transform: translateX(10px);
    opacity: 0;
}

.hamburger-menu.active .hline2 {
    background-color: #ffa33a;
}

.hline1 {
    width: 30px;
}

.hline2 {
    width: 20px;
}


.mobile-nav {
    width: 100%;
    height: 100%;
    gap: 1rem;
    background-color: #0f0c13;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.mobile-nav.active {
    display: flex;   
}


.mv-container {
    width:70%;
    display: flex;
    align-items: row-reverse;
    justify-content: space-evenly;
    margin-top: 200px;
}

.mnav-menu {
    list-style-type: none;
    font-family: "Staatliches", 'sans-serif';
    font-weight: 400;
    font-size: 52px;
    text-align: right;
    margin: 0;
}


.mn-line {
    width: 3px;
    background-color: #fcfaf3;
    height: 250px;
    margin-left: 2rem;
}

/* Work Section */

#work {
    width: inherit;
    height: fit-content;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-heading {
    height: 100px;
    text-align: center;
}

.work-dash {
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

h2 {
    font-family: "Staatliches", 'sans-serif';
    font-weight: 400;
    font-size: 72px;
    margin: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.wnav-container {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

ul.wnav {
    display: flex;
    flex-direction: column;
    align-items:  flex-end;
    justify-content: space-around;
    height: 100px;
    font-family: "Staatliches", 'sans-serif';
    font-weight: 400;
    font-size: 52px;
    list-style: none;
    text-align: right;
    margin: 0;
    margin-right: 1.5rem;
    padding: 0;
    height: inherit;
}

.w-line {
    animation-name: wgrow;
    animation-duration: 1s;
    animation-delay: .3s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

@keyframes wgrow {
    from {
        height: 0;
        opacity: 50%;
    }

    to {
        height: 100%;
        opacity: 100%;
    }
}

.divider {
    height: 1px;
    width: 50vw;
    background-color: ;
}

.filter {
    display: flex;
    height: 200px;
    width: 400px;
    align-items: center;
    justify-content: space-evenly;
}

.filter-sec1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 150px;
}

.tag-item {
    cursor: pointer;
}

.selected {
    border-radius: 40px;
    height: fit-content;
    width: fit-content;
    padding: .4em;
    text-transform: lowercase;
    font-size: 15px;
    font-weight: 500;
    background-color: #595366;
    border-radius: 40px;
}

#projectGrid {
    width: inherit;
    max-width: 1200px;
    height: fit-content;
    display: grid;
    place-items: center;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    margin: 0;
}

.project-card {
    width: 100%;
    height: fit-content;
    position: relative;
}

.project-card h3{
    color: #FAF7EA;
    font-family: 'SignikaNegativeSC', sans-serif;
    margin: .5rem;
    font-weight: 400;
    text-transform:lowercase;
    align-self: flex-start;
}

.project-titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project-card a{
    width: 100%;
    height: 100%;
}

.project-card img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    position: relative;
}

.card-award {
    display: flex;
    align-items: center;
    text-transform: lowercase;
    color: #ffa33a;
    font-size: 20px;
    /* background-color: #ffa33a; */
    /* border-radius: 50px; */
    padding: 8px;
}

.card-hover-tags {
    display: none;
}

.project-card:hover .card-hover-tags {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    gap: 10px;
    max-width: 75%;
}




/* Animation Collective - Work Section */

.fade {
    opacity: 0;
    transition: ease-in;
    will-change: opacity, transform;
}

/* Project Pages */

.project-page {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#project-heading {
    font-size: 32px;
    margin: 0;
    
}

.back-bar {
    align-self: flex-start;
    align-items: center;
    width: 400px;
    height: 75px;
    margin: 1rem 2rem .5rem;
    display: flex;
}

.back-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 1em;
    height: fit-content;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: flex-start;
    align-self: flex-start;
}

.aside {
    align-self: flex-start;
    width: 400px;
    height: 100%;
    margin: 2rem;
    display: flex;
    justify-content: space-around;
}

.p-line {
    margin-top: 10px;
    margin-right: 1rem;
    margin-left: 1rem;
    animation: pro-grow;
    animation-duration: 1.5s;
    animation-delay: 1.25s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

.project-details {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 80%;
}

h4 {
    color: #ffa33a;
    text-transform: lowercase;
}

.detail {
    text-transform: lowercase;
}

.items {
    display: flex;
    flex-direction: column;
}

.item {
    transform: translateY(-136px);
    transition: transform .4s;
}

.awards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 350px;
}

.contest {
    color: inherit;
    text-decoration: underline;
}

.tool {
    text-transform: lowercase;
}

.tags {
    gap: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag {
    color:#fcfaf3;
    background-color: #595366;
    border-radius: 40px;
    height: fit-content;
    width: fit-content;
    padding: .4em;
    text-transform: lowercase;
    font-size: 15px;
    font-weight: 500;
}

#projectDisplay {
    width: 100%;
    height: 100vh;
    margin-top: 1rem;
    overflow-y: scroll;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.pro-img{
    height: auto;
    width: 50%;
    margin: 10px 0;
}

/* About Page */

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
}

.about-dash {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.aboutme-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.portrait {
    width: 300px;
    height: auto;
}

.portrait-wrapper {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-blerb {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.about-blerb-h {
    text-transform: lowercase;
    text-align: left;
    width: 100%;
}

.spew {
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    margin: 0;
}

.divider-line {
    height: 3px;
    width: 0;
    background-color: #fcfaf3;
    animation-name: grow-right;
    animation-duration: 1s;
    animation-delay: .5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

.resume-wrap {
    display: flex;
    align-items: center;
}

.resume {
    text-transform: lowercase;
    text-decoration: underline;
    color: #595366;
    width: 100%;
    text-align: right;
    cursor: pointer;
    font-size: 18px;
    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 10px;
}

a.resume:hover {
    color: #ffa33a;
}


@keyframes grow-right {
    from {
        width: 0;
        opacity: 50%;
    }

    to {
        width: 100%;
        opacity: 100%;
    }
}


@keyframes pro-grow {
    from {
        height: 0;
        opacity: 50%;
    }

    to {
        height: 650px;
        opacity: 100%;
    }
}

footer {
    height: 400px;
}

/* Obnoxiously Large Screens */

#hero {
    height: 100vh;
    width: 100%;
}

.hero-container {
    height: 800px;
    width: 95%;
}


    /* Work Section */

    #work {
        width: inherit;
        height: fit-content;
        max-width: 1600px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .work-heading {
        height: 100px;
        text-align: center;
    }

    #projectGrid {
        width: inherit;
        max-width: 1600px;
        height: fit-content;
        display: grid;
        place-items: center;
        /* grid-template-columns: repeat(2, 1fr); */
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 1rem;
        margin: 0;
    }

    #projectHeading {
        justify-content: flex-start;
    }

    
    .project-card {
        width: 100%;
        height: 550px;
    }
    
    .project-card h3{
        margin: .5rem;
        font-weight: 400;
        font-size: 26px;
    }
    
    .project-card a{
        width: 100%;
        height: 100%;
    }
    
    .project-card img{
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
      
      .hidden {
        display: none;
      }
      

    .pro-dropdown {
        display: none;
    }



/* 
@media (max-width: 820px) {

    .nav-container {
        width: 200px;
    }

    .hero-container {
        margin: 0;
        width: 90%;
    } */


@media (max-width: 1200px) {
    

    body, html {
      margin: 0;
      overflow: hidden;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    #hero {
        margin: 0;
        height: 100vh;
    }

    .hero-container {
        height: 650px;
        width: 100%;
        margin-left: 1rem;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .wnav-container {
        display: none;
    }


    .mobile {
        display: flex;
    }

    .intro-container {
        width: 100%;
        margin: 0;
    }

    .intro {
        height: 85%;
        margin: 0;
        padding: 0 1rem 1rem 1rem;
        width: 95%;
    }
    

    h1 {
        font-size: 96px;
        margin: -2rem 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .greeting {
        font-size: 24px;
        margin: 0;
    }

    .first {
        font-size: 110px;
    }

    .last {
        font-size: 98px;
    }

    .blerb{
        font-size: 14px;
        margin: 0;

    }

    .nav-container {
        display: none;
    }
    
    .work-dash {
        height: fit-content;
    }

    .left-line {
        animation-name: grow;
        animation-duration: 1s;
        animation-delay: .3s;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        animation-fill-mode: forwards;
    }
    
    @keyframes grow {
        from {
            height: 0;
            opacity: 50%;
        }
    
        to {
            height: 250px;
            opacity: 100%;
        }
    }

    .project-card h3 {
        font-size: 18px;
    }

    .card-award {
        font-size: 16px;
        text-align: right;
    }


    .border {
        height: 500px;
        margin-left: 10px;
    }

    .socials {
        height: 200px;
        margin-top: 1rem;
    }

    #about {
        width: 100%;
        height: 100vh;
    }


    .trigger{
        animation-name: aboutgrow;
        animation-duration: 1s;
        animation-delay: .5s;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        animation-fill-mode: forwards;
    }
    
    @keyframes aboutgrow {
        from {
            height: 0;
            opacity: 50%;
        }
    
        to {
            height: 350px;
            opacity: 100%;
        }
    }

    #projectGrid {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
    }

    #project-heading {
        text-align: center;
        margin-left: 1rem;
        font-size: ;
    }

    .project-card {
        width: 100%;
        height: auto;
    }

    .project-card img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .project-page {
        display: flex;
        flex-direction: column;
    }


    .p-line {
        
    }

    @keyframes pro-grow {
        from {
            height: 0;
            opacity: 50%;
        }
    
        to {
            height: 500px;
            opacity: 100%;
        }
    }

    .left-container {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .back-bar {
        width: 100%;
        margin: 0;
        padding: 1rem;
        flex-direction: row;
        justify-content: space-around;
    }

    .back-bar-heading {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .pro-dropdown {
        display: block;
        fill: #595366;
        height: 26px;
        width: 26px;
        margin: .5em;
        transition: ease-in-out .1s;
        transform: rotate(-90deg);
        
    }

    .pro-dropdown.activated {
        transition: ease-in .1s;
        fill: #ffa33a;
        transform: rotate(0deg);
    }

 
    .inner-arrow.activated {
        transform-origin: center;
        fill: #ffa33a;
        transform: rotate(0deg);
        transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) .1s;
    }

    .aside {
        margin: 0;
        padding: 0;
        height: 0px;
        overflow: hidden;
        width: 100%;
        justify-content: center;
        transition: ease-in-out .2s;
    }

    .aside.activated {
        height: 100vh;
    }

    .details {
        
    }

    .detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: ;
    }

    #project-display {
        margin: 0;
    }

    .pro-img {
        width: 100%;
        height: auto;
    }


    .mobile-pro-title {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .mobile-dropdown {
        display: flex;
    }

    #about {
        height: fit-content;
    }

    .about-dash {
        height: fit-content;
        margin: 0;
        justify-content: center;
    }

    .about-heading {
        font-size: 62px;
    }

    .aboutme-container {
        width: 95%;
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    .portrait {
        height: auto;
        width: 300px;
    }

    .spew {
        padding: 0;
        margin-bottom: 1rem;
    }

    

    
    

    
}


.spacer {
    width: 100%;
    height: 200px;
}
