@font-face {
    font-family: 'SignikaNegativeSC';
    src: url('../assets/fonts/SignikaNegativeSC-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

html {
    scroll-behavior: ;
}

* {
    box-sizing: border-box;
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #595366;
    transition: 0.3s
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffa33a;
  }

a {
    text-decoration: none;
}


body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #0f0c13;
    color: #fcfaf3;
    font-family: 'SignikaNegativeSC', sans-serif;
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

body.no-scroll {
    overflow: hidden;
}


/* Hero section */

h1 {
    font-family: "Staatliches", 'sans-serif';
    font-weight: 400;
    font-size: 120px;
    margin: -2rem 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

}

.greeting {
    font-size: 28px;
    margin: 0;
    text-transform: lowercase;
}

.char {
    transform: translateY(-136px);
    transition: transform .4s;
}

.first {
    font-size: 134px;
}


#hero {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    height: 700px;
    width: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.intro-container {
    width: 500px;
    height: 80%;
    display: flex;
    justify-content: center;
}

.intro {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2rem;
    padding: 0 2rem 2rem 2rem;
}

.border {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.socials {
    height: 200px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.social {
    fill: #FAF7EA;
    opacity: 0;
    animation: staggerIn;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transform: translateY(-20px);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.social:hover {
    fill: #ffa33a;
}

.social1 {
    animation-delay: .6s;
}

.social2 {
    animation-delay: .8s;
}

.social3 {
    animation-delay: 1s;
}

@keyframes staggerIn {

    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 100%;
        transform: translateY(0px);
    }
}

.nav-container {
    width: 500px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav {
    align-self: flex-end;
    height: 100px;
    font-family: "Staatliches", 'sans-serif';
    font-weight: 400;
    font-size: 64px;
    list-style: none;
    text-align: right;
}

ul.nav {
    margin: 0;
}

a.link {
    font-size: 38px;
    margin: 0 0 1em;
    color: #1B191E;
    -webkit-text-stroke: .5px #FAF7EA;
}

.active-n{
    color: #FAF7EA;
    -webkit-text-stroke: none;
    text-decoration: none;
    font-size: 38px;
}



.side-line {
    background-color: #FAF7EA;
    width: 1px;
    height: 0px;
}

.left-line {
    animation-name: grow;
    animation-duration: 1s;
    animation-delay: .3s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

@keyframes grow {
    from {
        height: 0;
        opacity: 50%;
    }

    to {
        height: 300px;
        opacity: 100%;
    }
}

.right-line {
    align-self: flex-end;
    animation-name: grow;
    animation-duration: 1s;
    animation-delay: .3s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

/* Mobile Hero */

.mobile {
    display: none;
    width: 100%;
    flex-direction: row-reverse;
    padding: 2rem;
    z-index: 3;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.hamburger-menu.active {
    
}

.hamburger-line {
    height: 4px;
    background-color: #595366;
    border-radius: 2px;
    align-self: flex-end;
    transition: opacity 0.5s ease, transform 0.3s ease;
}

.hamburger-menu.active .hline1 {
    transform: translateX(10px);
    opacity: 0;
}

.hamburger-menu.active .hline2 {
    background-color: #ffa33a;
}

.hline1 {
    width: 30px;
}

.hline2 {
    width: 20px;
}


.mobile-nav {
    width: 100%;
    height: 100%;
    gap: 1rem;
    background-color: #1B191E;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.mobile-nav.active {
    display: flex;   
}


.mv-container {
    width:70%;
    display: flex;
    align-items: row-reverse;
    justify-content: space-evenly;
    margin-top: 200px;
}

.mnav-menu {
    list-style-type: none;
    font-family: "Staatliches", 'sans-serif';
    font-weight: 400;
    font-size: 52px;
    text-align: right;
    margin: 0;
}


.mn-line {
    width: 1px;
    background-color: #FAF7EA;
    height: 250px;
    margin-left: 2rem;
}

/* Work Section */

#work {
    width: inherit;
    height: fit-content;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-heading {
    height: 100px;
    text-align: center;
}

h2 {
    font-family: "Staatliches", 'sans-serif';
    font-weight: 400;
    font-size: 72px;
    margin: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.divider {
    height: 1px;
    width: 50vw;
    background-color: #FAF7EA;
}

.filter {
    display: flex;
    height: 200px;
}

.filter-sec1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 150px;
}

.tag-item {
    cursor: pointer;
}

.selected {
    color:#FAF7EA;
    background-color: #595366;
    border-radius: 40px;
    height: fit-content;
    width: fit-content;
    padding: .4em;
    text-transform: lowercase;
    font-size: 15px;
    font-weight: 500;
}

#projectGrid {
    width: inherit;
    max-width: 1200px;
    height: fit-content;
    display: grid;
    place-items: center;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    margin: 0;
}

.project-card {
    width: 100%;
    height: fit-content;
}

.project-card h3{
    color: #FAF7EA;
    font-family: 'SignikaNegativeSC', sans-serif;
    margin: .5rem;
    font-weight: 400;
    text-transform:lowercase;
}

.project-card a{
    width: 100%;
    height: 100%;
}

.project-card img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* Animation Collective - Work Section */

.fade {
    opacity: 0;
    transition: ease-in;
}

/* Project Pages */

.project-page {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#project-heading {
    font-size: 32px;
    margin: 0;
    
}

.back-bar {
    align-self: flex-start;
    align-items: center;
    width: 400px;
    height: 75px;
    margin: 1rem 2rem .5rem;
    display: flex;
}

.back-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 1em;
    height: fit-content;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: flex-start;
    align-self: flex-start;
}

.aside {
    align-self: flex-start;
    width: 400px;
    height: 100%;
    margin: 2rem;
    display: flex;
    justify-content: space-around;
}

.p-line {
    margin-top: 10px;
    margin-right: 1rem;
    margin-left: 1rem;
    animation: pro-grow;
    animation-duration: 1.5s;
    animation-delay: 1.25s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

.details {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 80%;
}

h4 {
    color: #ffa33a;
    text-transform: lowercase;
}

.items {
    display: flex;
    flex-direction: column;
}

.item {
    transform: translateY(-136px);
    transition: transform .4s;
}

.tags {
    gap: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag {
    color:#FAF7EA;
    background-color: #595366;
    border-radius: 40px;
    height: fit-content;
    width: fit-content;
    padding: .4em;
    text-transform: lowercase;
    font-size: 15px;
    font-weight: 500;
}

#project-display {
    width: 100%;
    height: 100vh;
    margin-top: 1rem;
    overflow-y: scroll;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
}

#project-display img{
    height: auto;
    width: 700px;
}

.mobile-pro-title {
    display: none;
}

.mobile-dropdown {
    display: none;
}

@keyframes pro-grow {
    from {
        height: 0;
        opacity: 50%;
    }

    to {
        height: 600px;
        opacity: 100%;
    }
}

footer {
    height: 400px;
}

@media (min-width: 820px) {

    .nav-container {
        width: 200px;
    }

    .hero-container {
        margin: 0;
        width: 90%;
    }

  
}

@media (max-width: 800px) {
    

    body, html {
      margin: 0;
    }

    #hero {
        margin: 0;
    }

    .hero-container {
        height: 650px;
        width: 100%;
        margin-left: 1rem;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }


    .mobile {
        display: flex;
    }

    .intro-container {
        width: 90vw;
        margin: 0;
    }

    .intro {
        height: 85%;
        margin-left: 1rem;
        padding: 0 1rem 1rem 1rem;
    }
    

    h1 {
        font-size: 96px;
        margin: -2rem 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .greeting {
        font-size: 24px;
        margin: 0;
    }

    .first {
        font-size: 110px;
    }

    .blerb{
        font-size: 14px;
        margin: 0;
    }

    .nav-container {
        display: none;
    }

    .side-line {
        background-color: #FAF7EA;
        width: 1px;
        height: 0px;
    }
    
    .left-line {
        animation-name: grow;
        animation-duration: 1s;
        animation-delay: .3s;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        animation-fill-mode: forwards;
    }
    
    @keyframes grow {
        from {
            height: 0;
            opacity: 50%;
        }
    
        to {
            height: 250px;
            opacity: 100%;
        }
    }

    .border {
        height: fit-content;
    }

    .socials {
        height: 200px;
        margin-top: 1rem;
    }

    #projectGrid {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
    }

    .project-card {
        width: 100%;
        height: auto;
    }

    .project-card img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .project-page {
        display: flex;
        flex-direction: column;
    }

    .left-container {
        display: none;
    }

    #project-display img {
        width: 95vw;
        height: auto;
    }

    .mobile-pro-title {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .mobile-dropdown {
        display: flex;
    }
}


